body {
  position: relative;
  font-family: Dosis, sans-serif;
  font-size: 18px;
  text-align: center;
  background-color: rgb(113, 167, 230);
  color: black;
  overflow-x: hidden;
}

#mapid {
  height: 250px;
}

img {
  vertical-align: auto;
}

#form {
  margin-top: 20px;
}

#days-number {
  display: none;
}

#days-number.show {
  display: inline-block;
}

ul {
  list-style: none;
}

#current-weather {
  height: 400px;
}

#current-weather #current-temp {
  color: black;
  font-size: 30px;
}

#current-weather #max-temp {
  color: red;
}

#current-weather #min-temp {
  color: blue;
}

.day-display > .hourly-display {
  display: none;
}

.day-display > ul:nth-child(2) {
  display: block !important;
}

#general-info {
  visibility: hidden;
}

.my-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:rgb(247, 247, 147);
  width: 1090px;
  height: 350px;
  z-index: 10001;
  border-radius: 15px;
  border: 1px solid #999;
  box-shadow: 5px 2.5px rgba(4, 16, 129, 0.4);
  text-align: center;
  color: black;
  visibility: hidden;
}

.button {
  font-size: 16px;
}

@-webkit-keyframes animateCloud {
  100%{margin-left: -1000px}
  100%{margin-left: 100%}
}

.cloud {
  background-color: white;
  border-radius: 80%;
  box-shadow: 2px 2px rgba(0,0, 0, 0.02);
  position: relative;
  height: 65px;
  width:65px;
}

.cloud:after, .cloud:before {
  position: absolute;
  background-color: white;
  content: '';
  z-index: -1;
}

.cloud:after {
  position: absolute;
  border-radius: 100px;
  height: 52px;
  width: 149px;
  left: -19px;
  top: 24px;
}

.cloud:before {
  position: absolute;
  border-radius: 100px;
  height: 70px;
  width:  70px;
  left: 39px;
  top: -12px;
}

.cloudOne {
  position: absolute;
  top: 100px;
  z-index: -100;
  animation: animateCloud 55s linear infinite;
}

.cloudTwo {
  position: absolute;
  top: 300px;
  z-index: -100;
  animation: animateCloud 15s linear infinite;
}

.cloudThree {
  position: absolute;
  top: 430px;
  z-index: -100;
  animation: animateCloud 45s linear infinite;
}

.cloudFour {
  position: absolute;
  top: 600px;
  z-index: -100;
  animation: animateCloud 50s linear infinite;
}

.cloudFive {
  position: absolute;
  top: 800px;
  z-index: -100;
  animation: animateCloud 50s linear infinite;
}


